/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-image: url(../images/wallpaper_02.png);
}


/******************************************
/* LAYOUT
/*******************************************/

/* -------------------WELCOME------------------ */
.welcome {
  width: 75%;
  height: 580px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/fruit-flowers-crop.jpg);
  background-size: cover;
}
.welcome-row1 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 20%;
  padding-top: 100px;
}
.logo:hover {
  transform: scale(0.98);
	cursor: pointer;
}
ul {
  display: flex;
}
.navListItem {
  padding:0 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.nav-links {
  text-decoration: none;
  color: black;
  padding-bottom: 15px;
}
.nav-links:hover {
  color: #EE2B7B;
}
.nav-icons {
  width: 100%;
  padding: 0 20px;
}
.hamburger {
	display: none;
}
.welcome-row2 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: flex-start;
  padding: 50px 0 0 150px;
}
h1 {
  font-size: 54px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  padding-bottom: 5px;
}
.searchBoxButton {
  display: flex;
  margin-top: 15px;
}
.search-box {
  width: 230px;
  height: 30px;
  background: #white;
  border: 1px solid #D9DBE7;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
::placeholder {
	font-size: 11px;
  font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #D9DBE7;
	padding-left: 10px;
}
.welcome-button {
  width: 80px;
  height: 30px;
  background: #EE2B7B;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
	margin-left: -5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.welcome-button:hover {
  transform: scale(0.98);
	cursor: pointer;
}
.social-media {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}
.facebook, .twitter, .instagram {
  display: flex;
  padding-right: 40px;
}
.social-icons {
  width: 100%;
  fill: #EE2B7B;
  padding-right: 5px;
}
.social-number {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 2px;
}
/* -------------------DISCOVER------------------ */
.discover {
  width: 75%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: flex-start;
  background-image: url(../images/pie.jpg);
  background-size: cover;
	background-position: center;
	padding: 0 300px 0 575px;
}

.discoverAbout {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #EE2B7B;
  padding-bottom: 5px;
}
.discoverHeadline {
  font-size: 44px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  padding-top: 5px;
}
.discoverParagraph {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #87879C;
  padding-top: 20px;
  line-height: 20px;
}
.discoverButton {
  margin-top: 20px;
}
.discoverMenuButton {
  width: 80px;
  height: 30px;
  background: #EE2B7B;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.discoverMenuButton:hover {
  transform: scale(0.98);
	cursor: pointer;
}
.discoverButtonArrow {
  width: 30px;
  height: 30px;
  background: #e68eb2;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
}
.discoverButtonArrow:hover {
  transform: scale(0.98);
	cursor: pointer;
}

/* -------------------SPECIALTY------------------  */
.specialty {
  width: 75%;
  height: 800px;
  margin: auto;
  background: #F2F6F7;
}
.specialty-row1 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.specialtyAbout {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #EE2B7B;
  padding-bottom: 5px;
}
.specialtyHeadline {
  font-size: 44px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  padding-top: 5px;
}
.specialtyList {
  display: flex;
  justify-content: center;
}
.specialtyItem {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 40px;
}
.specialty-links {
  text-decoration: none;
  color: black;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid lightgray;
}
.specialty-links:hover {
  color: #EE2B7B;
  border-bottom: 2px solid #EE2B7B;
}
.specialty-row2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.specialty-column1, .specialty-column2, .specialty-column3, .specialty-column4 {
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.specialty-column1-row1, .specialty-column1-row2, .specialty-column2-row1, .specialty-column2-row2, .specialty-column3-row1, .specialty-column3-row2, .specialty-column4-row1, .specialty-column4-row2 {
  width: 100%;
  height: 230px;
}
.specialty-row3 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialtyPinkDots {
  width: 15%;
}
.image {
  position: relative;
  width: 100%;
}
.specialty-column1-row1 {
  display: block;
  width: 100%;
}
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image_overlay:hover {
  opacity: 1;
	cursor: pointer;
}
.image_title {
  font-size: 20px;
  font-family: 'Yeseva One', serif;
  font-weight: 700;
  color: white;
}
.image_stars {
  width: 25%;
  margin: -5px 0;
}
.image_description {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 30px;
}
.image_button {
  width: 80px;
  height: 30px;
  background: #EE2B7B;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 5px;
}
.image_button:hover {
	transform: scale(0.98);
	cursor: pointer;
}
/* -------------------OPENING HOURS------------------  */
.openingHours {
  width: 75%;
  height: 800px;
  margin: auto;
  background-image: url(../images/white-tableware.jpg);
  background-size: cover;
}
.openingHours-row1 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.openingBook {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #EE2B7B;
  padding-bottom: 5px;
}
.openingHeadline {
  font-size: 44px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  padding-top: 15px;
}
.pinkTelephone {
  width: 3%;
  padding-top: 40px;
}
.openingCallNow {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
  padding-top: 10px;
}
.openingNumber {
  font-size: 22px;
  font-family: 'Yeseva One', serif;
  font-weight: 500;
  color: #EE2B7B;
  padding-top: 15px;
}
.openingHours-row2 {
  width: 100%;
  height: 100px;
  padding: 25px 300px 0 300px;
}
.openingHoursDays, .openingHoursTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.openingHoursTime {
  padding-top: 15px;
}
.openingHoursDays-row {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
}
.openingHoursTime-row {
  font-size: 18px;
  font-family: 'Yeseva One', serif;
  font-weight: 500;
  color: black;
}
.openingHours-row3 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
video {
  width: 40%;
}
.pinkArrow {
  width: 5%;
}
.pinkArrow:hover {
  transform: scale(0.98);
	cursor: pointer;
}
/* -------------------CUSTOMER------------------  */
.customer {
  width: 75%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #F2F8F9;
  padding: 0 250px;
}
.customerTestimonials {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #EE2B7B;
  padding-bottom: 5px;
}
.customerHeadline {
  font-size: 44px;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  padding: 10px 0 50px 0;
}
.customerImage {
  border-radius: 50%;
  height: 100px;
}
.customerName {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  padding-top: 15px;
}
.customerOccupation {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: gray;
  padding-top: 5px;
}
.customerStars {
  width: 10%;
}
.customerParagraph {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: gray;
  line-height: 20px;
}
.pinkDots {
  width: 15%;
  margin-top: -50px;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
/* ------------------MEDIA QUERY-DESKTOP---------------------- */

@media screen and (min-width: 1400px) and (max-width: 1900px ) {

	/* -------------------WELCOME------------------ */

	.logo {
	  width: 20%;
	  padding-top: 75px;
	}
	.navListItem {
	  padding:0 15px;
	  font-size: 18px;
	}
	.welcome-row2 {
	  padding: 0 0 0 75px;
	}
	h1 {
	  font-size: 46px;
	}

	/* -------------------DISCOVER------------------ */
	.discover {
		padding: 0 150px 0 400px;
	}
	.discoverHeadline {
	  font-size: 40px;
	}

/* -------------------SPECIALTY------------------  */
	.specialty {
	  height: 700px;
	}
	.specialtyHeadline {
	  font-size: 40px;
	}

	.specialty-row2 {
	  height: 400px;
	}
	.specialty-column1, .specialty-column2, .specialty-column3, .specialty-column4 {
	  height: 400px;
	  gap: 1rem;
	}
	.specialty-column1-row1, .specialty-column1-row2, .specialty-column2-row1, .specialty-column2-row2, .specialty-column3-row1, .specialty-column3-row2, .specialty-column4-row1, .specialty-column4-row2 {
	  height: 200px;
	}
	.image {
	  position: relative;
	  width: 100%;
	}
	.specialty-column1-row1 {
	  display: block;
	  width: 100%;
	}

	/* -------------------CUSTOMER------------------  */

	.pinkDots {
	  margin-top: -20px;
	}
}

/* ------------------MEDIA QUERY-LAPTOP---------------------- */

@media screen and (min-width: 1200px) and (max-width: 1400px ) {

	body {
	background-image: none;
	}
	/* -------------------WELCOME------------------ */
	.welcome {
	  width: 100%;
	  height: 580px;
	}
	.logo {
	  width: 20%;
	  padding-top: 100px;
	}
	.navListItem {
	  padding:0 15px;
	}
	.welcome-row2 {
	  padding: 0 0 0 100px;
	}
		h1 {
	  font-size: 46px;
	}
	.search-box {
	  width: 200px;
	}
	/* -------------------DISCOVER------------------ */
	.discover {
	  width: 100%;
		padding: 0 300px 0 475px;
	}

	/* -------------------SPECIALTY------------------  */
	.specialty {
	  width: 100%;
	}

	/* -------------------OPENING HOURS------------------  */
	.openingHours {
	  width: 100%;
	}
	/* -------------------CUSTOMER------------------  */
	.customer {
	  width: 100%;
	}
	.pinkDots {
	  margin-top: -20px;
	}
}

/* ------------------MEDIA QUERY-LARGE TABLET LANDSCAPE---------------------- */

@media screen and (min-width: 1000px) and (max-width: 1200px ){

	body {
	background-image: none;
	}
	/* -------------------WELCOME------------------ */
	.welcome {
	  width: 100%;
	}
	.welcome-row1 {
	  height: 70px;
	}
	.logo {
	  width: 20%;
	  padding-top: 50px;
	}
	.navListItem {
	  padding:0 15px;
	  font-size: 18px;
	}
	.nav-icons {
	  padding: 0 15px;
	}
	.welcome-row2 {
	  padding: 0 0 0 75px;
	}
	h1 {
	  font-size: 46px;
	}
	.search-box {
	  width: 200px;
	}

	/* -------------------DISCOVER------------------ */
	.discover {
	  width: 100%;
		padding: 0 175px 0 375px;
	}
	.discoverAbout {
	  font-size: 16px;
	}
	.discoverHeadline {
	  font-size: 40px;
	}
	.discoverParagraph {
	  line-height: 18px;
	}

	/* -------------------SPECIALTY------------------  */
	.specialty {
		width: 100%;
	  height: 700px;
	}
	.specialtyAbout {
	  font-size: 16px;
	}
	.specialtyHeadline {
	  font-size: 40px;
	}
	.specialtyItem {
	  font-size: 16px;
	}
	.specialty-row2 {
	  height: 400px;
	}
	.specialty-column1, .specialty-column2, .specialty-column3, .specialty-column4 {
	  height: 400px;
	}
	.specialty-column1-row1, .specialty-column1-row2, .specialty-column2-row1, .specialty-column2-row2, .specialty-column3-row1, .specialty-column3-row2, .specialty-column4-row1, .specialty-column4-row2 {
	  height: 180px;
	}
	.specialty-row3 {
	  height: 100px;
	}

	/* -------------------OPENING HOURS------------------  */
	.openingHours {
	  width: 100%;
	  height: 700px;
	}
	.openingHours-row1 {
	  height: 300px;
	}
	.openingBook {
	  font-size: 16px;
	}
	.openingHeadline {
	  font-size: 40px;
	}
	.openingHours-row2 {
	  padding: 25px 200px 0 200px;
	}
	.openingHours-row3 {
	  height: 300px;
	}

	/* -------------------CUSTOMER------------------  */
	.customer {
	  width: 100%;
	  padding: 0 200px;
	}
	.customerTestimonials {
	  font-size: 16px;
	}
	.customerHeadline {
	  font-size: 40px;
	}
	.customerName {
	  font-size: 18px;
	}
	.customerParagraph {
	  line-height: 18px;
	}
	.pinkDots {
	  margin-top: -20px;
	}
}

/* ------------------MEDIA QUERY-LARGE TABLET PORTRAIT---------------------- */

@media screen and (min-width: 760px) and (max-width: 1000px ){

	body {
	background-image: none;
	}
	/* -------------------WELCOME------------------ */
	.welcome {
		width: 100%;
		background-position: bottom;
	}
	.welcome-row1 {
		height: 70px;
	}
	.logo {
		width: 20%;
		padding-top: 50px;
	}
	.navListItem {
		padding:0 10px;
		font-size: 16px;
	}
	.nav-icons {
		padding: 0 10px;
	}
	.welcome-row2 {
		padding: 0 0 0 50px;
	}
	h1 {
		font-size: 40px;
		padding-bottom: 10px;
	}
	.search-box {
		height: 30px;
		width: 180px;
	}

	/* -------------------DISCOVER------------------ */
	.discover {
		width: 100%;
		background-position: left;
		padding: 0 50px 0 435px;
	}
	.discoverAbout {
		font-size: 14px;
	}
	.discoverHeadline {
		font-size: 34px;
	}
	.discoverParagraph {
		line-height: 15px;
	}

	/* -------------------SPECIALTY------------------  */
	.specialty {
		width: 100%;
		height: 600px;
	}
	.specialtyAbout {
		font-size: 14px;
	}
	.specialtyHeadline {
		font-size: 34px;
	}
	.specialtyItem {
		font-size: 14px;
	}
	.specialty-row2 {
		height: 300px;
		gap: 1rem;
	}
	.specialty-column1, .specialty-column2, .specialty-column3, .specialty-column4 {
		height: 300px;
		gap: 1rem;

	}
	.specialty-column1-row1, .specialty-column1-row2, .specialty-column2-row1, .specialty-column2-row2, .specialty-column3-row1, .specialty-column3-row2, .specialty-column4-row1, .specialty-column4-row2 {
		height: 150px;
	}
	.specialty-row3 {
		height: 100px;
	}
	.specialtyPinkDots {
	  width: 15%;
		padding-top: 20px;
	}
	.image_title {
	  font-size: 16px;
	}
	.image_description {
	  font-size: 18px;
	  padding-bottom: 20px;
	}

	/* -------------------OPENING HOURS------------------  */
	.openingHours {
		width: 100%;
		height: 650px;
	}
	.openingHours-row1 {
		height: 250px;
	}
	.openingBook {
		font-size: 14px;
	}
	.openingHeadline {
		font-size: 36px;
		padding-top: 10px;
	}
	.pinkTelephone {
	  padding-top: 20px;
	}
	.openingHours-row2 {
		padding: 25px 100px 0 100px;
	}
	.openingHours-row3 {
		height: 300px;
	}

	/* -------------------CUSTOMER------------------  */
	.customer {
		width: 100%;
		padding: 0 100px;
	}
	.customerTestimonials {
		font-size: 14px;
	}
	.customerHeadline {
		font-size: 36px;
	}
	.customerName {
		font-size: 18px;
	}
	.customerParagraph {
		line-height: 15px;
	}
	.pinkDots {
		margin-top: -20px;
	}
}


/* ------------------MEDIA QUERY-SMALL TABLET PORTRAIT---------------------- */

@media screen and (min-width: 500px) and (max-width: 760px ) {


		body {
		background-image: none;
		}
		/* -------------------WELCOME------------------ */
		.welcome {
			width: 100%;
			background-image: url(../images/fruit-flowers-crop-gradient.jpg);
			background-position: right;
			background-image:
		}
		.welcome-row1 {
			height: 70px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 30px;
		}
		.welcome ul {
			display: none;
		}
		.logo {
			width: 30%;
			padding-top: 50px;
		}
		.hamburger {
			display: block;
			width: 8%;
		}
		.welcome-row2 {
			padding: 0 250px 0 50px;

		}
		h1 {
			font-size: 30px;
			padding-bottom: 5px;
			text-shadow: 1px 1px 1px white;
		}
		.search-box {
			height: 30px;
			width: 150px;
		}
		.welcome-button {
		  width: 60px;
		}
		.social-media {
			display: flex;
			flex-direction: column;
		}
		.facebook, .twitter, .instagram {
			padding: 10px 0;
		}

		/* -------------------DISCOVER------------------ */
		.discover {
			width: 100%;
			background-position: right;
			padding: 0 50px;
		}
		.discoverAbout {
			font-size: 14px;
		}
		.discoverHeadline {
			font-size: 30px;
		}
		.discoverParagraph {
			line-height: 15px;
		}

		/* -------------------SPECIALTY------------------  */
		.specialty {
			width: 100%;
			height: 500px;
		}
		.specialtyAbout {
			font-size: 14px;
		}
		.specialtyHeadline {
			font-size: 30px;
		}
		.specialtyItem {
			font-size: 14px;
			padding-top: 20px;
		}
		.specialty-links {
	  	padding: 0 10px 15px 10px;
		}
		.specialty-row2 {
			height: 200px;
			gap: 1rem;
		}
		.specialty-column1, .specialty-column2, .specialty-column3, .specialty-column4 {
			height: 200px;
			gap: 1rem;

		}
		.specialty-column1-row1, .specialty-column1-row2, .specialty-column2-row1, .specialty-column2-row2, .specialty-column3-row1, .specialty-column3-row2, .specialty-column4-row1, .specialty-column4-row2 {
			height: 100px;

		}
		.specialty-row3 {
			height: 100px;
		}
		.specialtyPinkDots {
			width: 15%;
			padding-top: 20px;
		}
		.image_title {
			font-size: 14px;
		}
		.image_description {
			font-size: 14px;
			padding-bottom: 10px;
		}
		.image_stars {
		  width: 25%;
		  margin: 0;
		}

		.image_button {
		  width: 70px;
		  height: 25px;
		  font-size: 9px;
		}

		/* -------------------OPENING HOURS------------------  */
		.openingHours {
			width: 100%;
			height: 600px;
		}
		.openingHours-row1 {
			height: 200px;
		}
		.openingBook {
			font-size: 14px;
		}
		.openingHeadline {
			font-size: 30px;
			padding-top: 5px;
		}
		.pinkTelephone {
			padding-top: 10px;
		}
		.openingNumber {
		  font-size: 20px;
		  padding-top: 10px;
		}
		.openingHours-row2 {
			padding: 20px 50px 0 50px;
		}
		.openingHoursTime {
			padding-top: 15px;
		}
		.openingHoursDays-row, .openingHoursTime-row {
			font-size: 16px;
		}
		.openingHours-row3 {
		  height: 300px;
		}
		video {
		  width: 60%;
		}
		.pinkArrow {
		  width: 5%;
		}

		/* -------------------CUSTOMER------------------  */
		.customer {
			width: 100%;
			height: 500px;
			padding: 0 50px;
		}
		.customerTestimonials {
			font-size: 14px;
		}
		.customerHeadline {
			font-size: 30px;
			padding: 10px 0 20px 0;
		}
		.customerName {
			font-size: 16px;
		}
		.customerParagraph {
			line-height: 15px;
		}
		.pinkDots {
			margin-top: -20px;
		}
}
